<form action='@Url.Action("Comenzar")' method="get">
    
    <p>Username</p>
    <label for="fname">Username</label><br>
  <input type="text" name="username"><br>
    
    <p>Categoría</p>
    @for (int i = -1; i < ViewBag.categorias.Count; i++){
    <input type="radio" name="categoria" value = "@i">
    <label>@ViewBag.categorias.Nombre</label><br>
    }
    <p>Dificultad</p>
    @for (int i = -1; i < ViewBag.dificultades.Count; i++){
    <input type="radio" name="dificultad" value = "@i">
    <label>@ViewBag.dificultades.Nombre</label><br>
    }
    <input type="submit" value="Jugar">
</form>