<form action='@Url.Action("Comenzar")' method="get">
    
    <p>Username</p>
    <label for="fname">Username</label><br>
  <input type="text" name="username"><br>
    
    <p>Categoría</p>
    @foreach (Categoria categoria in ViewBag.categorias)
    {
    <input type="radio" name="categoria" value = "@categoria.IdCategoria">
    <label>@categoria.Nombre</label><br>
    }
    <p>Dificultad</p>
    @foreach (Dificultad dificultad in ViewBag.dificultades)
    {
    <input type="radio" name="dificultad" value = "@dificultad.IdDificultad">
    <label>@dificultad.Nombre</label><br>
    }
    <input type="submit" value="Jugar">
</form>