<div id="ten-countdown"></div>

<p>@ViewBag.username</p>
<p>@ViewBag.puntajeActual</p>
<p>@ViewBag.pregunta.Enunciado</p>
<p>@ViewBag.pregunta.foto</p>

<form action='@Url.Action("VerificarRespuesta")' method="post">
    
    @foreach (Respuesta respuesta in ViewBag.respuestas)
    {        
    <input type="hidden" name = "idPregunta" value = "@respuesta.IdPregunta">
    <input type="radio" name="idRespuesta" value = "@respuesta.IdRespuesta">
    <label>@respuesta.contenido</label><br>
    }
    <input type="submit" value="Listo">
</form>